.DS_Store

cap-credentials-provider-example/target/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.zip  # For combine-endpoints-terraform.zip if it's a build artifact

# combine-azure-java-sdk-example
combine-azure-java-sdk-example/.project
combine-azure-java-sdk-example/.classpath
combine-azure-java-sdk-example/.settings/
combine-azure-java-sdk-example/bin/
combine-azure-java-sdk-example/.idea
combine-azure-java-sdk-example/*.ipr
combine-azure-java-sdk-example/*.iml
combine-azure-java-sdk-example/*.iws
combine-azure-java-sdk-example/nb-configuration.xml
combine-azure-java-sdk-example/.azure
combine-azure-java-sdk-example/.vscode
combine-azure-java-sdk-example/*.swp
combine-azure-java-sdk-example/*.swo
combine-azure-java-sdk-example/*.orig
combine-azure-java-sdk-example/*.rej
combine-azure-java-sdk-example/target/
combine-azure-java-sdk-example/pom.xml.tag
combine-azure-java-sdk-example/pom.xml.releaseBackup
combine-azure-java-sdk-example/pom.xml.versionsBackup
combine-azure-java-sdk-example/pom.xml.next
combine-azure-java-sdk-example/release.properties
combine-azure-java-sdk-example/dependency-reduced-pom.xml
combine-azure-java-sdk-example/buildNumber.properties
combine-azure-java-sdk-example/.mvn/timing.properties
combine-azure-java-sdk-example/.gradle/
combine-azure-java-sdk-example/build/
combine-azure-java-sdk-example/.gradletasknamecache
combine-azure-java-sdk-example/*.log
combine-azure-java-sdk-example/graph-output.dot
combine-azure-java-sdk-example/.factorypath
combine-azure-java-sdk-example/settings.xml
combine-azure-java-sdk-example/quarkus.log
combine-azure-java-sdk-example/ObjectStore
combine-azure-java-sdk-example/lsp/