MIICnTCCAYUCBgGGPP0i0DANBgkqhkiG9w0BAQsFADASMRAwDgYDVQQDDAdjb21iaW5lMB4XDTIzMDIxMDIwMTkyN1oXDTMzMDIxMDIwMjEwN1owEjEQMA4GA1UEAwwHY29tYmluZTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANkrXCsOeP9xQRYIbREbgThmEDeMS7zJ3MbdtJ11uYTUAGHMXabViLRd5dzwdotajoy2yWVywtu+68+/NjKWh9HfOHUMS9Je38/MoRPjcjOgQ6S+tHhHqMKJ6Fu8WoemB+IbbF0DcBfLeuPsix7Zyt1R+N3wJtGGTUdtO5nBgoQqUXfKGFnBnlAKFOFBBTVq+NtAch8CXcz6g9NQw3mT50/n2Bb6ZmhS75nB8HAqcmZTKfoBH+0ZLB6/Q6QarlrBI2CEaKSVBdLC5jMPDptjLnl/pZU5/y1Eo2KV3z353lIcSzAMnUO6orn7rOBJka3cVY6kQo21wbWmFdpC95Wr3ZECAwEAATANBgkqhkiG9w0BAQsFAAOCAQEApWrALdBMchSESbqaaqDp2WSmy+PSvhzk90ntBp+ubOW2VC0RTBhWKuE2+bDWoZtUj17EAiKgqFDCKxPfzX+Zs/ALruZYROwdfFKxILybzF3uQ2x1d6wpy3UsDmjH/82ILzb1kvhEkCUHlioaBi2Vh/jGO1T1NrYQ1UPWswTrFToSfdTKoIncDfdfwnMCtURSXOzVoH89jMYCljeribDF4gcJm49YgiIgAX2bwH/KytQbJPX3VrAt+AGOukXY212/DhIrpeZif6/nSFmfhFQyEPrFGB53JzyXyVXqBKq0ZVmyITaMEvUw3c0lu+Bo5SvRkztQ4lOflq+noF0uwYUOBw==