access_key           = "your-account-access-key"
secret_key           = "your-account-secret-key"
custom_ca_bundle     = "/path/to/combine-ca-chain.cert.pem"
subnet_1             = "your-combine-customer-subnet-id"
subnet_2             = "your-combine-customer-subnet-id"
subnet_3             = "your-combine-customer-subnet-id"
vpc_id               = "your-vpc-id"
bucket_principal_arn = "your-bucket-principal-arn"
account_id           = "your-aws-account-id"