access_key           = "your-account-access-key"
secret_key           = "your-account-secret-key"
custom_ca_bundle     = "/path/to/combine-ca-chain.cert.pem"
vpc_id               = "your-vpc-id"
account_id           = "your-aws-account-id"